.dropdown {
  padding: 20px 15px 25px;
  box-shadow: $box-shadow--1, $box-shadow--2;
  border-radius: 10px;
  background-color: $dropdown-bg-color;

  &__title {
    font-size: 14px;
    color: $dropdown-title-color;
    line-height: 16px;
    margin: 0 0 5px 10px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    transform: scaleY(0) rotateY(-70deg);
    transform-origin: top center;
    transition: transform .3s ease-out;

    &--active {
      transform: scaleY(1) rotateY(0);
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}
