$active-bg-color: #ebecf2;

.dropdown-item {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  padding: 13px 15px;
  border-radius: 10px;
  transition: background-color .3s ease;
  
  &:hover:not(.dropdown-item--active):not(.dropdown-item--show-more) {
    background-color: darken($active-bg-color, 5);
  }

  &--active {
    background-color: $active-bg-color;
  }
}