$keys-item-bg-color: #484a5a;
$keys-item-border-color: #565a6b;
$keys-item-color: #fff;
$keys-item-separator: #999ca7;

.keys {
  display: flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__separator {
    color:  $keys-item-separator;
  }
}