.container {
  max-width: $main-width;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Nunito', sans-serif;

  .dropdown-content:not(:last-child) {
    margin-bottom: 20px;
    max-width: 300px;
  }
}